
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="Home/save" method="get">
            <input type="text" name="Text" />
            <input type="submit" value="Submit" />
            
            
            <div>
                @foreach (SignalR.Models.user u in @ViewBag.message)
                { 
                   <h3>@u.item</h3> 
                
                };
            </div>
            
        </form>
    </div>
</body>
</html>
